workflow_fixed.json
{
  "updatedAt": "2026-05-14T21:11:03.878Z",
  "createdAt": "2026-05-14T17:55:01.489Z",
  "id": "a6RrdAJwVSghHBss",
  "name": "Dossie Social Publisher - Fixed",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "16c1f560-0fe6-4353-bfe7-bee393e22062",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://meetdossie.com/api/get-approved-posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_CRON_SECRET_ROTATED_2026_06_27"
            }
          ]
        },
        "options": {}
      },
      "id": "3f508166-5de7-4265-bcfb-eedaccb03d2e",
      "name": "Get Approved Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        112
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "posts",
        "options": {}
      },
      "id": "edfc970d-fcf5-411b-8c50-9baa68a7129b",
      "name": "Split Out Posts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zernio.com/api/v1/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_c86c494854af4e4403f681982cc0150c902b2f48affafcb8c2a2859f8785eaa3"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "platforms",
              "value": "={{ [{ platform: $json.platform, accountId: $json.zernio_account_id }] }}"
            },
            {
              "name": "publishNow",
              "value": "=true"
            },
            {
              "name": "mediaItems",
              "value": "={{ $json.media_url ? [{ url: $json.media_url, type: 'image' }] : [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9984abbb-106f-4a23-bc36-c2529e7eba4e",
      "name": "Publish to Zernio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ad2e0d84-c113-4e0b-be4d-263ea4592647",
              "leftValue": "={{ $json.message === \"Post published successfully\" || $json.status === \"published\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2f0ccbe-0014-4d31-8ed2-834aa39a7fd2",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://meetdossie.com/api/mark-post-published",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_CRON_SECRET_ROTATED_2026_06_27"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Split Out Posts').item.json.id }}"
            },
            {
              "name": "zernio_post_id",
              "value": "={{ $json.id || null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9174a07-3ad9-41f9-8a60-949a64fed1f6",
      "name": "Mark Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://meetdossie.com/api/mark-post-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_CRON_SECRET_ROTATED_2026_06_27"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Split Out Posts').item.json.id }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || $json.message || $json.error || 'Unknown error' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b26ab2d5-30ec-4a92-af92-cffde4d572ee",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Approved Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approved Posts": {
      "main": [
        [
          {
            "node": "Split Out Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Posts": {
      "main": [
        [
          {
            "node": "Publish to Zernio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Zernio": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Mark Published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "5dfa3660-5eda-416e-8eb7-50c5dfc567d9",
  "activeVersionId": "5dfa3660-5eda-416e-8eb7-50c5dfc567d9",
  "versionCounter": 42,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-14T17:55:01.491Z",
      "createdAt": "2026-05-14T17:55:01.491Z",
      "role": "workflow:owner",
      "workflowId": "a6RrdAJwVSghHBss",
      "projectId": "vuIgY93Ef82505OO",
      "project": {
        "updatedAt": "2026-05-14T15:35:54.387Z",
        "createdAt": "2026-05-14T15:35:47.684Z",
        "id": "vuIgY93Ef82505OO",
        "name": "Heath   <heath@meetdossie.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6b05c8ea-b0e4-4f73-b6ec-3b62f265de80"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-14T21:11:03.880Z",
    "createdAt": "2026-05-14T21:11:03.880Z",
    "versionId": "5dfa3660-5eda-416e-8eb7-50c5dfc567d9",
    "workflowId": "a6RrdAJwVSghHBss",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "id": "16c1f560-0fe6-4353-bfe7-bee393e22062",
        "name": "Every 5 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          -1104,
          112
        ]
      },
      {
        "parameters": {
          "url": "https://meetdossie.com/api/get-approved-posts",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_CRON_SECRET_ROTATED_2026_06_27"
              }
            ]
          },
          "options": {}
        },
        "id": "3f508166-5de7-4265-bcfb-eedaccb03d2e",
        "name": "Get Approved Posts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -880,
          112
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "posts",
          "options": {}
        },
        "id": "edfc970d-fcf5-411b-8c50-9baa68a7129b",
        "name": "Split Out Posts",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -656,
          112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://zernio.com/api/v1/posts",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer sk_c86c494854af4e4403f681982cc0150c902b2f48affafcb8c2a2859f8785eaa3"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "content",
                "value": "={{ $json.content }}"
              },
              {
                "name": "platforms",
                "value": "={{ [{ platform: $json.platform, accountId: $json.zernio_account_id }] }}"
              },
              {
                "name": "publishNow",
                "value": "=true"
              },
              {
                "name": "mediaItems",
                "value": "={{ $json.media_url ? [{ url: $json.media_url, type: 'image' }] : [] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "9984abbb-106f-4a23-bc36-c2529e7eba4e",
        "name": "Publish to Zernio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -448,
          112
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "ad2e0d84-c113-4e0b-be4d-263ea4592647",
                "leftValue": "={{ $json.message === \"Post published successfully\" || $json.status === \"published\" }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "b2f0ccbe-0014-4d31-8ed2-834aa39a7fd2",
        "name": "Check Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -224,
          112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://meetdossie.com/api/mark-post-published",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_CRON_SECRET_ROTATED_2026_06_27"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "={{ $('Split Out Posts').item.json.id }}"
              },
              {
                "name": "zernio_post_id",
                "value": "={{ $json.id || null }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c9174a07-3ad9-41f9-8a60-949a64fed1f6",
        "name": "Mark Published",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://meetdossie.com/api/mark-post-failed",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_CRON_SECRET_ROTATED_2026_06_27"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "={{ $('Split Out Posts').item.json.id }}"
              },
              {
                "name": "error_message",
                "value": "={{ $json.error?.message || $json.message || $json.error || 'Unknown error' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b26ab2d5-30ec-4a92-af92-cffde4d572ee",
        "name": "Mark Failed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          208
        ]
      }
    ],
    "connections": {
      "Every 5 Minutes": {
        "main": [
          [
            {
              "node": "Get Approved Posts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Approved Posts": {
        "main": [
          [
            {
              "node": "Split Out Posts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Posts": {
        "main": [
          [
            {
              "node": "Publish to Zernio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish to Zernio": {
        "main": [
          [
            {
              "node": "Check Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Success": {
        "main": [
          [
            {
              "node": "Mark Published",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mark Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Heath  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-14T21:11:04.069Z",
        "id": 9,
        "workflowId": "a6RrdAJwVSghHBss",
        "versionId": "5dfa3660-5eda-416e-8eb7-50c5dfc567d9",
        "event": "activated",
        "userId": "6b05c8ea-b0e4-4f73-b6ec-3b62f265de80"
      },
      {
        "createdAt": "2026-05-14T21:11:03.972Z",
        "id": 8,
        "workflowId": "a6RrdAJwVSghHBss",
        "versionId": "5dfa3660-5eda-416e-8eb7-50c5dfc567d9",
        "event": "deactivated",
        "userId": "6b05c8ea-b0e4-4f73-b6ec-3b62f265de80"
      }
    ]
  }
}